.Contenido-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #555;
  overflow: hidden;
  padding: 20px;
}

.form {
  display: flex;
  max-height: 90vh;
  height: auto;
  padding: 1rem 1rem;
  min-width: 55%;
  background-color: #fcfcfc;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  opacity: 0;
  animation: fadeIn 0.5s ease-out 0.2s forwards;
}

.columna-logo {
  min-width: 40%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.5s ease-out 0.2s forwards;
}

.columna-form {
  display: flex;
  min-width: 60%;
  flex-direction: column;
  justify-content: center;
  flex: 1.5;
  padding: 30px;
  opacity: 0;
  animation: fadeIn 0.5s ease-out 0.2s forwards;
}

.cuerpo-form {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.logo-imagen {
  width: 100%;
  max-width: 250px;
  opacity: 0;
  animation: fadeIn 0.5s ease-out 0.2s forwards;
}

.Input-Form-Login {
  width: 100%;
  padding: 16px;
  margin: 12px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.Input-Form-Login:focus {
  border-color: #FAC463;
  outline: none;
  box-shadow: 0 0 10px rgba(250, 196, 99, 0.5);
}

.boton-submit {
  font-weight: bold;
  font-size: 17px;
  padding: 14px 24px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.boton-submit:hover {
  background-color: #FAC463;
  transform: scale(1.05);
}

.boton-submit:active {
  background-color: #202020;
  transform: scale(1);
}

.enlace {
  color: #FAC463;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 15px;
}

.enlace:hover {
  color: #555;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
